@charset "UTF-8";

:root {
  --white-color: #f7f7ff;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top: 4rem; /* distance from top of screen to top of background picture */
}

/* NAVBAR */

.navbar {
  height: 4rem; /* distance from top of screen to top of background picture */
  background: #21374d !important;
  padding-left: 0;
  padding-right: 0;
  /* border: 2px solid green; */
}

.navbar-brand {
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid #f7f7ff;
  margin-left: 0.5em;
}

.navbar-brand:hover {
  border-color: #f7f7ff;
  color: #f7f7ff;
}

.navbar-nav {
  text-align: right;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 575px) {
  /* .navbar-nav {
    height: auto;
  } */
  .navbar {
    padding-top: 0.7em;
    padding-bottom: 1em;
  }
  .nav-item {
    /* width: 11em; */
    width: 100%;
    background-color: #21374d;
    border: 2px solid #21374d;
    /* border-bottom: 0.5px solid black; */
    /* margin-top: 1em; */
  }
  .nav-link {
    padding-left: 20px;
  }

  .nav-link:hover {
    /* color: rgba(33, 55, 77, 0.1); */
  }

  /* .navbar-nav > .nav-item ~ .nav-item {
    margin-top: 0;
  } */

  .nav-item:first-of-type {
    margin-top: .5em;
    /* border-top: 0.5px solid black; */
  }

  .dropdown-item {
    text-align: right;
  }

  .nav-item:last-of-type {
    border-bottom: none;
  }

}

.nav-item {
  /* border: 2px solid green; */
}

.navbar-toggler-icon:hover {
  cursor: pointer;
}

.nav-link,
.navbar-brand {
  color: #f7f7ff;
  cursor: pointer;
}

.nav-link {
  padding-right: 1em !important;
  color: #f7f7ff;
  /* background-color: blue; */
  /* border: 2px solid orange; */
}

.nav-link:hover {
  color: #f7f7ff;
  /* transition: 0.2s; */
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
  margin: 0 !important;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar-collapse {
  justify-content: flex-end;
}



/* HERO */

.hero {
  background-image: url(../assets/mac.jpg);
  /* opacity: 0.5; */
  height: 92vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* padding-top: 8vh; */
  /* padding-bottom: 30vh; */
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
}

.hero-text-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.typed-heading-div {
  margin-left: 5vw;
  /* margin-top: 10vh; */
}

.hero h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  /* font-size: 4em; */
  color: white;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  top: 22vh;
  line-height: 1.3;
  font-size: 3.5em;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 2.5em;
    line-height: 1.7;
  }
}

@media (max-width: 400px) {
  .hero h1 {
    font-size: 2em;
    line-height: 1.9;
  }
}

.hero p {
  font-family: 'Arvo', serif;
  font-size: 1.3rem;
  line-height: 1.3;
  text-shadow: 1px 1px 1px #000;
  padding-left: 0.2rem;
}

.about-btn-div {
  position: absolute;
  bottom: 10vh;
  width: 100%;
}

#about-btn {
  width: 15em;
}

.hero a {
  color: #fff;
}

#about-btn a {
  font-size: 1.3em;
  display: block;
}

#about-btn:hover a {
  /* color: black; */
  text-decoration: none;
}






/* ABOUT */

#about-div-wrapper {
  padding-top: 50px;
}

#about-div {
  width: 80%;
  margin-top: 50px;
}

#photo-div {
  margin-bottom: 2em;
}

#photo-div-text-div {
  padding-left: 1em
}

#brody-photo {
  width: 50%;
  /* float: right; */
  object-fit: cover;
  width: 100px;
  height: 100px;
  /* display: inline; */
  border-radius: 50%;
}



.about-text {
  margin-top: 30px;
}

.role {
  padding: 20px;
}

.role h1 {
  text-align: center;
}

.role-left {
  border-right: 1px solid gray;
}

.role-upper {
  border-bottom: 1px solid gray;
}

@media (max-width: 575px) {
  .role-left {
    border-right: none;
  }
  .role-lower {
    border-bottom: 1px solid gray;
  }
}

.role-lower {
  padding-top: 30px;
}

.about-div-wrapper {
  margin-bottom: 70px;
}





/* Timeline */

#timeline-div {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e1e2e3;
}

#timeline-div .border-right {
  border-right: 1px solid black !important;
  /* border-color: black !important; */
}

.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}
@media (max-width: 860px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
@media (max-width: 860px) {
  .timeline li {
    padding: 2em 0;
  }
}
.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}
@media (max-width: 860px) {
  .direction-l {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-l .time-wrapper {
  float: left;
}
@media (max-width: 860px) {
  .direction-l .time-wrapper {
    float: none;
  }
}

.direction-r {
  position: relative;
  width: 400px;
  float: right;
}
@media (max-width: 860px) {
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-r .flag:before {
  left: -40px;
}
.direction-r .time-wrapper {
  float: right;
}
@media (max-width: 860px) {
  .direction-r .time-wrapper {
    float: none;
  }
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
@media (max-width: 860px) {
  .flag-wrapper {
    text-align: center;
  }
}
.flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 860px) {
  .flag-wrapper .flag {
    background: white;
    z-index: 15;
  }
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid orange;
  z-index: 10;
}
@media (max-width: 860px) {
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58B96B;
  vertical-align: middle;
}
@media (max-width: 860px) {
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
}
.time-wrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
}
.desc a {
  color: #58B96B;
  text-decoration: none;
}
.desc a:hover {
  text-decoration: underline;
}
@media (max-width: 860px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
}





/* Projects */

#projects-wrapper {
  padding-top: 50px;
  /* margin-top: 50px; */
}

.skills-section {
  margin-bottom: 40px;
  /* margin-top: 50px; */
  /* padding-top: 50px; */
  /* background: gray; */
  /* border: 2px solid red; */
}

.projects-title {
  margin-bottom: 1.5em;
}

.skill-levels {
  /* border: 2px solid red; */
  margin-top: 1.5em;
}

.skills-description {
  /* border: 2px solid green; */
  padding: 20px;
  margin-bottom: 20px;
}

.hr-skills {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.4)
}

.projects-wrapper {
  /* margin-top: 80px; */
  margin-bottom: 80px;
  /* padding-top: 50px; */
}

.card-footer {
  margin: 0;
  padding: 5px;
}

.card-footer h5 {
  font-style: italic;
  text-align: center;

}

#FCC-link {
  z-index: 1000;
  position: relative;
}

/* Contact  */

.contact-wrapper {
  background: #e1e2e3;
  padding-bottom: 100px;
  padding-top: 50px;
}

#contact-link {
  width: 40%;
  background: rgb(33, 55, 77);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact-link:hover {
  cursor: pointer;
}

#name-field {
  margin-bottom: 0 !important;
}

#email-field {
  margin-bottom: 0;
}

.fab {
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook-square {
  background: #3B5998;
  color: white;
}

.fa-twitter-square {
  background: #55ACEE;
  color: white;
}

.fa-github-square {
  background: #444;
  color: #fff;
}



/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
}

#footer p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
